<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">
          
          <h1 class="text-center" style="font-size: 82px; color: #c80018;">ANTONIO CORREA</h1>
          <h2 class="text-center">Game Developer</h2>

          <p class="text-center" >
            A passionate video game enthusiast. Since discovering video games, I've been dedicated to learning the art of game development and have had the pleasure of working on a variety of projects. You're welcome to check out my portfolio!
            <br> I'm always happy to talk! Contact me at  <a href="mailto:just.anton.rock@gmail.com">just.anton.rock@gmail.com</a>            
          </p>

          <div class="hero-buttons">
           
            <a href="https://drive.google.com/file/d/1NpzeHnCLVOQ7JsFoC5QvFs5ZP0syLmMx/view?usp=sharing" target="_blank"><button class="btn btn-default btn-lg"><i class="fa-solid fa-file-pdf"></i>Resume</button></a>

            <a href="portfolio"><button class="btn btn-default btn-lg wow infinite pulse"><i class="fa-solid fa-briefcase fa-bounce"></i>Portfolio</button></a>

            <a href="https://www.linkedin.com/in/antoniorolandocorrea" target="_blank"><button class="btn btn-default btn-lg"><i class="fa-brands fa-linkedin"></i>LinkedIn</button></a>

          </div>

        </div>

      </div>


    </div>

  </div>

</div>
