{% include header.html %}

    <main id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            {%comment%}
            {% if site.section_title != '' %}
            <h2 class="section-title text-center">{{ site.section_title }}</h2>
            {% endif %}
            {% if site.section_subtitle != '' %}
            <p class="section-subtitle text-center">{{ site.section_subtitle }}</p>
            {% endif %}           
            <div class="break"></div>
            {%endcomment%}

            <h1 class="text-center">Portfoli<a href="hidden" target="_blank" style="color: inherit; text-decoration: none;">o</a></h1>
            

         
            {% for post in paginator.posts %}
              <div data-aos="zoom-out-up">
              {% if post.position == "left" %}
                {% include content-left.html %}
              {% endif %}

              {%comment%}
              {% if post.position == "right" %}
                {% include content-right.html %}
              {% endif %}
              {%endcomment%}
              
              </div>
            {% endfor %}

            {% include pagination.html %}
            

          </div>
        </div>
      </div>
    </main>
{% include footer.html %}